@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --black-tpm: #01232F;
  --red-tpm: #df1449;
  --gray-tpm: #4c4c4c;
  --turq-tpm: #00bcab;
  --red-light: #fdf3f3;
  --light-yellow: #fff9f4;
}
.main-bg{
  background-image: url('/main-bg.jpg');
  background-size: cover;
}
.step-bg{
   background-image: url('/slides-bg.jpg');
  background-size: cover;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Encode Sans", sans-serif;
}
